# Dependencies
/node_modules
/.pnp
.pnp.*

# Production builds
/dist
/build
/.next/
/out/

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Vite cache
.vite/

# Testing & coverage
/coverage

# Environment variables
.env*
!.env.example

# IDE & OS
.DS_Store
*.pem
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
